/* ---------------------------body styles -------------------------*/
body{
    font-family: 'Open Sans', sans-serif;
}
/*------------------------------------------ nav related  styles --------------------------------------*/
.header{
    background-color: rgb(241, 236, 229);
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    

}
.text-primary{
    color: chocolate;
}
.btn-primary{
    background-color: chocolate;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    border: 0px;
    padding: 10px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner.banner-content{
    width: 585px;
    height: 676px;
}
.banner-description{
    width: 400px;
}
.banner.profile-pic{
    width: 500px;
}
/*------------------------------- About section styles_------------------------ */
.about{
    max-width: 750px;
    height: 1140px;
    text-align: center;
    margin: 70px auto;
}
.about-title{
   font-size: 50;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}

